<% content_for :page_title do %>
  <%= (Spree.t("essential_content.post.post") + " '#{@post.title}'").html_safe %>
<% end %>

<% content_for :sidebar_title do %>
  <%= Spree.t('essential_content.admin.post_information') %>
<% end %>

<% content_for :sidebar do %>
  <ul class="nav nav-pills nav-stacked" data-hook="admin_post_tabs">
    <li<%= ' class="active"'.html_safe if current == "Post Details" %>>
      <%= link_to_with_icon 'edit', Spree.t("essential_content.admin.post_details"), edit_admin_post_url(@post) %>
    </li>
    <li<%= ' class="active"'.html_safe if current == "Images" %>>
      <%= link_to_with_icon 'picture-o', Spree.t(:images), admin_post_images_url(@post) %>
    </li>
    <li<%= ' class="active"'.html_safe if current == "Related Products" %>>
      <%= link_to_with_icon 'sitemap', Spree.t("essential_content.admin.products_related"), admin_post_products_url(@post) %>
    </li>
    <li<%= ' class="active"'.html_safe if current == "Categories" %>>
      <%= link_to_with_icon 'tags', Spree.t("essential_content.admin.post_categories"), admin_post_categories_url(@post) %>
    </li>
  </ul>
<% end %>
